<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to the Devops Training , {{ username }}!</h2>
        
        {% if get_flashed_messages() %}
        <div class="flash-messages">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="dashboard-content">
            <p>This is your dashboard. You are successfully logged in.</p>
            <!-- Add more dashboard content here -->
        </div>
        
        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
    </div>
</body>
</html>

